/PythonDataAccessLayer/pydal/mongo/__helper__/__pycache__/*.pyc
/PythonDataAccessLayer/pydal/mongo/__pycache__/*.pyc
/PythonDataAccessLayer/testpydal/testmongo/EntityHelper/__pycache__/*.pyc
/PythonDataAccessLayer/testpydal/testmongo/__pycache__/*.pyc
/PythonUtility/pyutil/serialization/json/__pycache__/*.pyc
/PythonUtility/testpyutil/testserialization/EntityHelper/__pycache__/*.pyc
/PythonUtility/testpyutil/testserialization/testjson/__pycache__/*.pyc
/PythonValidation/pyvalidate/__pycache__/*.pyc
/PythonValidation/pyvalidate/integer/__pycache__/*.pyc
/PythonValidation/pyvalidate/list/__pycache__/*.pyc
/PythonValidation/pyvalidate/object/__pycache__/*.pyc
/PythonValidation/pyvalidate/string/__pycache__/*.pyc
/PythonValidation/testpyvalidate/EntityHelper/__pycache__/*.pyc
/PythonValidation/testpyvalidate/ValidationHelper/__pycache__/*.pyc
/PythonValidation/testpyvalidate/testintegervalidation/__pycache__/*.pyc
/PythonValidation/testpyvalidate/testlistvalidation/__pycache__/*.pyc
/PythonValidation/testpyvalidate/testobjectvalidation/__pycache__/*.pyc
/PythonValidation/testpyvalidate/teststringvalidation/__pycache__/*.pyc
*.pyc
*.name
*.iml
*.xml
.idea
